@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #000000; 
    font-family: 'Fredoka', sans-serif;
}
/*preloader*/
.preload-container{
    overflow: hidden !important;
    height: 100vh;
    text-align: center;
}
#preload-img{
    padding: 0;
}
.preload-div{
    border: 2px dashed;
    padding: 0;
    animation-name: line;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes line {
  0%   {color:#ECA442; width: 25%}
  25%  {color:#CA2521; width: 50% }
  50%  {color:#A5A79A; width: 25%}
  75%  { color:#61120E;width: 50%}
  100% {color:#ECA442; width: 25%}

}
/*hero-section*/
.hero-section{
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    margin: 0 !important;
    padding: 0!important;
}
.bg-img{
    position: absolute;
    
}
/*nav-section*/
.nav-section{
    margin: 0 !important;
    position: relative;
}
i{
    color: #ECA442;
}
.logo{
    position: relative;
    top: -5vw;
}
.socials{
    padding-left: 18% !important;
    position: relative;
    right: -5vw !important;
}
.hero-text{
    color: #ffffff;
    position: relative;
    top: -20vw;
}
li{
    padding: 2vw;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #ECA442;

}
.times{
    display: none;
    font-size: 50px;
    color: #ECA442;
}
.nav-menu{
    display: none;
    flex-direction: row-reverse;
    padding-left: -10%;
}





/*Js Classes*/

.fade-bg{
    background-color: #61120E;
    opacity: 0.6;
}
.nav-menu-show{
    display: block;
}
















@media screen  and (max-width: 772px){
    .socials{
        display: none;
        padding-left: 10% !important;
    }
    .nav-section{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .fa-bars{
        width: 25%;
        padding: 10vw;
        position: relative;
        right: -13vw;
    }
    .logo{
        width: 50%;
        top: -5vw;
        left: -17vw;
    }
    .hero-text{
        display: none;
    }
}
