@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #0a0a0a; 
    font-family: 'Fredoka', sans-serif;
}
.preload-container{
    overflow: hidden !important;
    height: 100vh;
    text-align: center;
}
#preload-img{
    padding: 0;
}
.preload-div{
    border: 2px dashed;
    padding: 0;
    animation-name: line;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes line {
  0%   {color:#ECA442; width: 25%}
  25%  {color:#CA2521; width: 50% }
  50%  {color:#A5A79A; width: 25%}
  75%  { color:#61120E;width: 50%}
  100% {color:#ECA442; width: 25%}

}

.hero-img{
    background: url("../assets/bg.jpg");
    background-size: cover;
    background-position: top center;
    width: 100vw;
    height: 100vh;
}
.nav-section{
    margin: 0 !important;
}
.logo{
    position: relative;
    top: -5vw;
}
i{
    color: #ECA442;
}
.socials{
    padding-left: 18% !important;
}
.row{
    height: 25%;
}
.text{
    color: #ffffff;
}
















@media screen  and (max-width: 875px){
    .socials{
        display: none;
        padding-left: 16% !important;
    }
    .nav-section{
        display: flex;
        justify-content: space-between;
    }
    .fa-bars{
        max-width: 25%;
        padding: 0;
    }
    .logo{
        width: 25%;
        top: -2vw;
    }
    .text{
        position: relative;
        top: -3vw;
    }

}
