@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    overflow-x: hidden;
}
/*preloader*/
.preload-container{
    overflow: hidden !important;
    height: 100vh;
    text-align: center;
    background-color: #000000; 
}
#preload-img{
    padding: 0;
}
.preload-div{
    border: 2px dashed;
    padding: 0;
    animation-name: line;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes line {
  0%   {color:#ECA442; width: 25%}
  25%  {color:#CA2521; width: 50% }
  50%  {color:#A5A79A; width: 25%}
  75%  { color:#61120E;width: 50%}
  100% {color:#ECA442; width: 25%}

}
/*hero-section*/
.hero-container{
    background: url("../assets/bg.jpg");
    background-position: top center;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100vh;

}
/*nav-section*/
.nav-section{
    margin: 0 !important;
}
i{
    color: #ECA442;
}
i:hover{
    cursor: pointer;
    color: #CA2521;
}
.logo{
    display: none;
    position: absolute;
}
.hero-text{
    color: #ffffff;
    font-size: 3vw;
    text-align: center;
}
.brand-name{
    color: #ffffff;
    font-size: 5vw;
    text-align: center;
}
.fa-angle-double-down{
    font-size: 5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    animation: updown 500ms infinite alternate;
    }
@keyframes updown { 
    0%{
            transform: translate(0px,10px);
     }
    100%{
            transform: translate(0px,0px);
    }
}
.socials{
    padding-left: 18% !important;
    position: relative;
    right: -2vw !important;
}
li{
    padding: 2vw;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #ECA442;
}
.times{
    display: none;
    font-size: 50px;
    color: #ECA442;
}
.nav-menu{
    display: none;
    flex-direction: row-reverse;
    padding-left: -10%;
}
.fa-bars:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
.times:hover{
    color: #CA2521;
    cursor: pointer;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
     }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
.reviews{
    background-color: #A5A79A;
    color: #000000;
    
}
.reviews{
    background-color: #eee
}

.reviews .col-lg-4 {
    display: flex;
    justify-content: center
}

.card {
    width: 40vw;
    height: 40vh;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit
}

.card .face {
    position: absolute;
    color: #ECA442;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.06);
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd
}

.card .face.front-face,
.card .face.back-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.card .face.front-face .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover
}

.card .face.front-face .name {
    letter-spacing: 2px
}

.card .face.front-face .location {
    font-size: 0.8rem;
    color: #000000;
    letter-spacing: 0.8px
}

.card:hover .face.front-face {
    transform: rotateY(180deg)
}

.card .face.back-face {
    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none
}

.card .face.back-face .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2rem
}

.card .face.back-face .fa-quote-right {
    position: absolute;
    bottom: 35px;
    right: 25px;
    font-size: 1.2rem
}

.card:hover .face.back-face {
    transform: rotateY(360deg)
}



#footer {
    background: #404040;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px
}
#footer .footer-top {
    background: #3b3b3b;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
    padding: 60px 0 30px 0
}

#footer .footer-top .footer-info {
    margin-bottom: 30px
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #fff
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #545454;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s
}

#footer .footer-top .social-links a:hover {
    background: #CA2521;
    color: #fff;
    text-decoration: none
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px
}

#footer .footer-top .footer-links {
    margin-bottom: 30px
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ECA442;
    font-size: 10px;
    line-height: 1
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1
}

#footer .footer-top .footer-links ul a:hover {
    color: #CA2521
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px
}

#footer .footer-top .footer-contact p {
    line-height: 26px
}

#footer .copyright {
    text-align: center;
    padding-top: 30px
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff
}
#footer a:hover{
    color: #CA2521;
}

#shopBtn{
    display: none;
    position: relative;
}
.modal{
    display: none;
}



/*Js Classes*/

.fade-bg{
    background-color: #61120E;
    opacity: 0.6;
}
.nav-text{
    color: #ECA442;
    text-align: center;
    font-size: 2vw;
}
.modal-bg{
    background-color: white;
}
.menu-img{
    cursor: pointer;
    position: relative;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
}
















@media screen  and (max-width: 772px){
    .logo{
        display: none;
    }

}
@media screen  and (max-width: 575px){
    .socials{
        display: none;
    }

}
@media screen  and (max-width: 992px){
    .socials{
        display: none;
    }

}

